/**
* @file
* @date 2022-11-21
* @author
* @lastModify  2022-11-21
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@use "../Constant/breakPoint.scss" as *;
@use "../Constant/font.scss" as *;
@use "../Constant/color.scss" as *;
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
/* <--------------------------- * SECTION1 * --------------------------- */

.calenderMobile_wrapper {
    max-height: 90vh;
    height: 332px;
}

.calenderMobile_body {
    padding: 24px;
}

.calenderMobile_top {
    display: flex;
    align-items: flex-start;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.calenderMobile_name {
    @include c_h_6();
    color: #4d4d4d;
    height: 24px + 8px;
    width: 88px;
    position: relative;
    text-align: center;
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background: #22a6b3;
        border-radius: 4px;
        left: 0;
        bottom: 0;
        transform: translateY(50%);
    }
}

.calenderMobile_confirmBtn {
    @include c_h_6();
    color: #22a6b3;
    height: 24px + 8px;
    cursor: pointer;
}

.calenderMobile_hr {
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
    margin-bottom: 36px;
}

.calendarMobile_itemContent {
    @include body_1();
}

.calendarMobile_itemUnit {
    @include c_body_3();
    margin-left: 3px;
    display: inline-block;
}

.mobileCalendarInput_wrapper {
    position: relative;
    display: inline-flex;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    transition: all 0.2s linear;
    padding: 10px 16px;
    @include body_2();
    box-sizing: border-box;
    color: #4d4d4d;
    align-items: center;
    justify-content: flex-start;
    .mobileCalendarInput_Active {
        border-color: #67cdd6;
    }
}

.mobileCalendarInput_placeholder {
    @include c_body_3();
    color: #bdbdbd;
}

.mobileCalendarInput_icon {
    position: absolute;
    right: 1rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 1.6rem;
    height: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.mobileCalendarInput_clearIcon {
    font-size: 1.6rem;
    color: $line_light;
    cursor: pointer;
}

.mobileCalendarInput_calendarIcon {
    font-size: 1.6rem;
    color: $line_light;
}
